{{ $u := .u }}
<figure class="album album-{{ len .pics }}">
  {{ range .pics }}
    {{ $url := urls.Parse .picUrl }}
    {{ $base := path.Base $url.Path }}
    {{ $ext := path.Ext $url.Path }}
    {{ $lExt := strings.ToLower $ext }}
    {{ $bare := strings.Replace $base $ext "" }}
    <img
      data-bare={{ $bare }}
      data-ext={{ $ext }}
      data-lExt={{ $lExt }}
      data-base={{ $base }}
      loading="lazy"  class="album-item"
      src="/s/{{ $bare }}{{ $lExt }}{{ with eq .format `heic` }}.jpg{{ end }}" />
  {{ end }}
</figure>
