<div class="link-card-wrapper">
  <div class="link-card" href="{{ .linkInfo.linkUrl }}">
    <div class="link-card__image">
      <img class="link-card__image" loading="lazy" 
        src="{{ .linkInfo.pictureUrl }}" alt="{{ .linkInfo.title }}">
      <div 
        onclick="togglePlay({{.path}})"
        class="embed-music-player paused">
        <audio 
          id="{{ .path }}"
          src="{{ .path }}" preload="metadata"></audio>
      </div>
    </div>
    <a href="{{ .linkInfo.linkUrl }}" class="link-card__title">
      {{ .linkInfo.title }}
    </a>
  </div>
</div>