<article class="item">
  {{ if .IsPage }}
    {{ $u := .Permalink }}
    {{ $dataPath := path.Join "content" .Dir "data.json" }}
    {{ if fileExists $dataPath }}
      {{ $d := getJSON $dataPath }}
      {{ partial "user.html" $d }}

      <div class="item-content">{{ .Content }}</div>

      {{ if $d.target }}
        {{ partial "repost.html" $d.target }}
      {{ end }}

      {{ if $d.linkInfo }}
        {{ if $d.linkInfo.audio }}
          {{ $mp3Path := printf "/s/%s%s" $d.id ".mp3" }}
          {{ $mp3FilePath := path.Join "static" $mp3Path}}
          AUDIO.mp3= {{ $mp3Path }}
          {{ if fileExists $mp3FilePath }}
            {{ partial "link-audio.html" (dict "linkInfo" $d.linkInfo "path" $mp3Path) }}
          {{ end }}
        {{ else }}
          {{ partial "link.html" $d.linkInfo }}
        {{ end }}
      {{ end }}

      {{ if $d.pictures }}
        {{ if gt (len $d.pictures) 0 }}
          {{ partial "album.html" (dict "pics" $d.pictures "u" $u) }}
        {{ end }}
      {{ end }}

      {{ if $d.video }}
        {{ $videoDataPath := path.Join "content" .Dir "video.json" }}
        {{ if fileExists $videoDataPath }}
          {{ $v := getJSON $videoDataPath }}
          {{ partial "video.html" (dict "d" $d "video" $v) }}
        {{ end }}
      {{ end }}

      {{ if $d.poi }}
        <address class="item-addr">{{ $d.poi.name }}</address>
      {{ end }}

      {{ if $d.topic }}
        <a href="/tags/{{ $d.topic.content }}" class="item-topic">
          #{{ $d.topic.content }}
        </a>
      {{ end }}
    {{ end }}
  {{ end }}
</article>
