{{ $pName := printf "/s/%s.mp4" .d.id }}
{{ $pFile := path.Join "static" $pName }}

{{ $url := urls.Parse .video.url }}
{{ $sName := path.Join "/s" $url.Path }}
{{ $sFile := path.Join "static" $sName }}

{{ if fileExists $pFile }}
  <video class="item-video" 
    src="{{ $pName }}" preload="metadata" controls></video>
{{ else if fileExists $sFile }}
  <video class="item-video" 
    src="{{ $sName }}" preload="metadata" controls></video>
{{ else }}
  <a 
    data-pname="{{ $pName }}"
    data-pfile="{{ $pFile }}"
    data-sname="{{ $sName }}"
    data-sfile="{{ $sFile }}"
    href="{{ .video.url }}" target="_blank">
    DOWNLOAD VIDEO
  </a>
{{ end }}